@{
    ViewBag.Title = "Dashboard";
}

<style>
    .tile {
        color: white;
        margin-right: 5px;
        border-radius: 3px;
        height: 100px;
        width: 22.5%;
        background-color: #2A3F54;
    }

    .tile-div {
        width: 110%;
    }

    .tileHeading {
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px;
    }
</style>

<div role="main">
    <div class="row top_tiles" style="margin: 0px 0 0 0;">

        <div class="x_panel">
            <div class="sc_panel_header x_title">


                <div class="col-md-10">
                    <h2 class="nav navbar-left control-label" align="left">Admission Detail (Current Session)</h2>
                </div>

            </div>

            <div class="x_content">
                <div class="row tile-div">

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 tile">
                        <h5 id="Admitted" style="font-weight:bold;font-size:20px;margin-top:15px;">0</h5>
                        <p style="color:#17a2b8;margin-top:25px;font-weight:bold"> <i class="fa fa-building-o" aria-hidden="true" style="font-size:25px;color:#17a2b8;"></i> Admitted Students </p>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 tile">
                        <h5 id="Left" style="font-weight:bold;font-size:20px;margin-top:15px;">0 PKR</h5>
                        <p style="color:#28a745;margin-top:25px;font-weight:bold"><i class="fa fa-sort-amount-desc" style="font-size:25px;color:#28a745"></i> Left Students</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 tile">
                        <h5 id="Inquiries" style="font-weight:bold;font-size:20px;margin-top:15px;">0 PKR</h5>
                        <p style="color:#dc3545;margin-top:25px;font-weight:bold"> <i class="fa fa-pie-chart" style="font-size:25px;color:#dc3545"></i> Student Inquiries</p>
                    </div>

                </div>
                </div>
        </div>
            </div>

    


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph x_panel">
                <div class="row x_title sc_panel_header_lg">

                    <div class="col-md-5">
                        <h2>Admission Stats (Line)</h2>
                    </div>

                    <label class="control-label col-md-1 col-sm-1 col-xs-12" style="font-size:11px;" align="right" for="first-name">
                        Date Range <span class="required">*</span>
                    </label>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div id="admissionStats" style="background: #fff; cursor: pointer; padding: 4px 10px; border: 1px solid #ccc">
                            <i class="caret pull-right"></i>
                            <span style="color:black">December 30, 2018 - January 28, 2020</span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <select onchange="onAdmissionLineViewChanged()" id="view1Line" style="color:black;background: #fff; cursor: pointer; padding: 5px 20px; border: 1px solid #ccc" class="pull-right">
                            <option value="month">Month View</option>
                            <option value="day">Day View</option>
                        </select>
                        <div class="clearfix"></div>
                    </div>


                </div>

                <div class="x_content">
                    <div class="demo-container" style="height:350px">
                        <div id="admissionDetailsLine" class="demo-placeholder" style="width: 100%; height:350px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- /page content -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph x_panel">
                <div class="row x_title sc_panel_header_lg">

                    <div class="col-md-8">
                        <h2>Admission Details Class Wise</h2>
                    </div>
                    <div class="col-md-4">


                        <div id="classAdmStatsDatePicker" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span style="color:black">December 30, 2018 - January 28, 2020</span> <b class="caret"></b>
                        </div>
                    </div>

                </div>
                <div class="x_content">
                    <div class="demo-container" style="height:250px">
                        <div id="ClassAdmissionDetails" class="demo-placeholder" style="width: 100%; height:250px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
        <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script>
            $(document).ready(function () {
                ShowStudentAdmission();
                showAdmissionStatsLine();
                InitializeDatePicker('admissionStats', dateRangeSelectedLine);
                showClassAdmissionDetails(null, null);
                InitializeDatePicker('classAdmStatsDatePicker', showClassAdmissionDetails);
            });

            var fromLine = null; var toLine = null; var viewLine = "month";
            function onAdmissionLineViewChanged() {
                viewLine = $("#view1Line").val();
                showAdmissionStatsLine(fromLine, toLine, viewLine)
            }

            function dateRangeSelectedLine(_from, _to) {
                fromLine = _from;
                toLine = _to;
                showAdmissionStatsLine(fromLine, toLine, viewLine)
            }


            function ShowStudentAdmission() {

                $.getJSON(AppDetail() + "/Home/GetStudentCurrentYearAdmissionData", null, function (data) {
                    $("#Admitted").html(data.Admitted.toLocaleString());
                    $("#Left").html(data.Left.toLocaleString());
                    $("#Inquiries").html(data.Inquiries.toLocaleString());
                })//end json
            }

            function showAdmissionStatsLine() {

                if (SetDayViewOneMonth(fromLine, toLine, viewLine) == false) {
                    return;
                }


                var options = {
                    chart: {
                        renderTo: 'admissionDetailsLine',
                        type: 'line'
                    },
                    title: {
                        text: 'Admission Details from ' + (fromLine != null ? moment(fromLine).format("DD/MM/YYYY") : moment().startOf('month').format("DD/MM/YYYY")) + ' to ' + (toLine != null ? moment(toLine).format("DD/MM/YYYY") : moment().format("DD/MM/YYYY"))
                    },

                    xAxis: {
                        title: {
                            text: viewLine == "day" ? 'Date' : 'Month'
                        },
                        categories: []
                    },
                    yAxis: {
                        allowDecimals: false,
                        min: 0,
                        title: {
                            text: 'No of Students'
                        }
                    },

                    series: [
                    ],
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: false
                            },
                            enableMouseTracking: true
                        }
                    },
                };

                var feeDetailChart = null;
                $.getJSON(AppDetail() + "/Student/GetAdmissionLineStats?from=" + fromLine + "&to=" + toLine + "&view=" + viewLine,
                        null, function (response) {
                        options.series = [];
                        if (viewLine == "day") {
                            options.xAxis.categories = response.Days.map(n => moment(n).format("DD/MM/YYYY"));
                        } else {
                            options.xAxis.categories = response.Months;
                        }

                        options.series.push({ name: "Admitted Students", data: response.Admitted });
                        options.series.push({ name: "Left Students", data: response.Left });
                        options.series.push({ name: "StudentInquiries", data: response.Inquiries });

                        feeDetailChart = new Highcharts.Chart(options);
                    })//end json
            }

            function showClassAdmissionDetails(_from, _to) {
                fromClass = _from;
                toClass = _to;
                var options = {
                    chart: {
                        renderTo: 'ClassAdmissionDetails',
                        type: 'column'
                    },
                    title: {
                        text: 'Admission Details from ' + (fromClass != null ? moment(fromClass).format("DD/MM/YYYY") : moment().startOf('month').format("DD/MM/YYYY")) + ' to ' + (toClass != null ? moment(toClass).format("DD/MM/YYYY") : moment().format("DD/MM/YYYY"))
                    },
                    tooltip: {
                        pointFormat: '<b>{point.y} {series.name} <br>Total: {point.total}</b>'
                    },
                    xAxis: {
                        title: {
                            text: 'Classes'
                        },
                        categories: []
                    },
                    yAxis: [{ //--- Primary yAxis
                        title: {
                            text: 'Students Count'
                        }
                    }
                    ],
                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },

                    series: [
                    ],
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    },
                };

                var feeDetailChart = null;
                $.getJSON(AppDetail() + "/Student/GetClassAdmissionStats?from=" + fromClass + "&to=" + toClass, null, function (response) {
                    var admitted = {
                        name: 'Admitted Students',
                        data: []
                    };

                    var left = {
                        name: 'Left Students',
                        data: []
                    };

                    var inquiries = {
                        name: 'Student Inquiries',
                        data: []
                    };

                    options.xAxis.categories = [];
                    for (var i = 0; i < response.StudentAdmissionDetail.length; i++) {
                       
                        options.xAxis.categories.push(response.Class[i]);
                        admitted.data.push(response.StudentAdmissionDetail[i].Admitted);
                        left.data.push(response.StudentAdmissionDetail[i].Left);
                        inquiries.data.push(response.StudentAdmissionDetail[i].Inquiries);
                    }
                    options.series.push(admitted);
                    options.series.push(left);
                    options.series.push(inquiries);
                    feeDetailChart = new Highcharts.Chart(options);
                })//end json
            }
        </script>
