<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="SC_WEBEntities2" connectionString="metadata=res://*/ScDbModel.csdl|res://*/ScDbModel.ssdl|res://*/ScDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-IUIQ9BTIQRM\SQLEXPRESS14;initial catalog=SMS_WEB;User ID=sa;Password=Sql123;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SC_WEBEntities2" connectionString="metadata=res://*/ScDbModel.csdl|res://*/ScDbModel.ssdl|res://*/ScDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=107.172.195.107,1433;initial catalog=ALLIED_MURGHZAR;User ID=sa;Password=Sql123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SC_WEBEntities2" connectionString="metadata=res://*/ScDbModel.csdl|res://*/ScDbModel.ssdl|res://*/ScDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HAMAD_MAHMOOD\SQL2019;initial catalog=ELEGANT_SCHOOLS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SC_WEBEntities2" connectionString="metadata=res://*/ScDbModel.csdl|res://*/ScDbModel.ssdl|res://*/ScDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HAMAD_MAHMOOD\SQL2019;initial catalog=PAYROLL_SYSTEM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="SC_WEBEntities2" connectionString="metadata=res://*/ScDbModel.csdl|res://*/ScDbModel.ssdl|res://*/ScDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hamad_mahmood\MSSQLEXPRESS17;initial catalog=SMART_NISAR;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SC_WEBEntities2" connectionString="metadata=res://*/ScDbModel.csdl|res://*/ScDbModel.ssdl|res://*/ScDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hamad_mahmood\MSSQLEXPRESS17;initial catalog=MODEL_KHUZDAR;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SC_WEBEntities2" connectionString="metadata=res://*/ScDbModel.csdl|res://*/ScDbModel.ssdl|res://*/ScDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9P899DJ\MSSQLEXPRESS17;initial catalog=HASSAN_SCHOLARS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SC_WEBEntities2" connectionString="metadata=res://*/ScDbModel.csdl|res://*/ScDbModel.ssdl|res://*/ScDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Hamad_Mahmood\SQL2012;initial catalog=SMS_QA_BRANCHES;user id=sa;password=sql123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="class-filePath" value="D:\sms web\Import Data\Elegent School\Class.xlsx" />
    <add key="section-filePath" value="D:\sms web\Import Data\Elegent School\Section.xlsx" />
    <add key="classSection-filePath" value="D:\sms web\Import Data\Elegent School\ClassSection.xlsx" />
    <add key="student-filePath" value="D:\sms web\Import Data\Elegent School\StudentData.xlsx" />
    <add key="staff-filePath" value="D:\Onical\Payroll System\StaffDetails.xlsx" />
    <!--<add key="student-filePath" value="D:\sms web\Import Data\Elegent School\StudentDataUpdated.xlsx" />-->
    <!--<add key="class-columns" value="NAME|DESCRIPTION|IS_ACTIVE" />-->
    <add key="class-columns" value="NAME" />
    <!--<add key="section-columns" value="NAME|DESCRIPTION|IS_ACTIVE" />-->
    <add key="section-columns" value="NAME" />
    <add key="class-section-columns" value="CLASS_NAME|SECTION_NAME" />
    <add key="fee-heads" value="MONTHLY FEE|VAN FEE|Registration Fee|Practical Fee|Security Charges|Admission Charges|Examination Dues|Annual Charges|Stationary Charges" />
    <!--<add key="fee-challan-columns" value="MONTHLY FEE" />-->
    <add key="fee-challan-columns" value="" />
    <!--<add key="arrears-columns" value="(MONTHLY FEE)" />-->
    <!--<add key="arrears-columns" value="(MONTHLY FEE)|(Annual Charges)|(Stationary Charges)" />-->
    <add key="arrears-columns" value="" />
    <!--<add key="student-columns" value="ROLL_NO|NAME|FATHER_NAME|CLASS|SECTION|DATE_OF_BIRTH|ADMISSION_DATE|CONTACT_1|CURRENT_ADDRESS|RELIGION|GENDER|NATIONALITY|FATHER_CNIC|MOTHER_NAME|MOTHER_CONTACT|MOTHER_CNIC|BFORMNO|SESSION_YEAR|STATUS" />-->
    <!--<add key="student-columns" value="ROLL_NO|NAME|FATHER_NAME|MOTHER_NAME|CURRENT_ADDRESS|FATHER_CNIC|MOTHER_CNIC|CONTACT_1|MOTHER_CONTACT|DATE_OF_BIRTH|BFORMNO|CLASS|SECTION|GENDER|RELIGION|NATIONALITY" />-->
    <!--<add key="student-columns" value="ROLL_NO|NAME|FATHER_NAME|CONTACT_1|CLASS|SECTION|GENDER|RELIGION|NATIONALITY|ADMISSION_NO|DATE_OF_BIRTH|ADMISSION_DATE|CURRENT_ADDRESS" />-->
    <!--<add key="student-columns" value="ROLL_NO|NAME|FATHER_NAME|CONTACT_1|CONTACT_2|CLASS|SECTION|GENDER|RELIGION|NATIONALITY|FATHER_CNIC|ADMISSION_NO|DATE_OF_BIRTH|ADMISSION_DATE|CURRENT_ADDRESS" />-->
    <!--<add key="student-columns" value="ROLL_NO|NAME|FATHER_NAME|CONTACT_1|CONTACT_2|CLASS|SECTION|GENDER|RELIGION|NATIONALITY|ADMISSION_NO|DATE_OF_BIRTH|ADMISSION_DATE|CURRENT_ADDRESS" />-->
    <add key="staff-columns" value="StaffName|Salary|DutyHours|CNIC|ContactNo" />
    <!--<add key="student-columns" value="ROLL_NO|NAME|FATHER_NAME|CLASS|SECTION|GENDER|RELIGION|NATIONALITY|ADMISSION_NO|DATE_OF_BIRTH|ADMISSION_DATE|CURRENT_ADDRESS" />-->
    <!--<add key="student-columns" value="ROLL_NO|NAME|FATHER_NAME|CONTACT_1|CLASS|SECTION|GENDER|RELIGION|NATIONALITY|ADMISSION_NO|DATE_OF_BIRTH|ADMISSION_DATE|CURRENT_ADDRESS" />-->
    <add key="isActive" value="1" />
    <add key="isChallanCreated" value="0" />
    <add key="branchId" value="1" />
    <add key="leavingStatus" value="1" />
    <add key="sessionId" value="2" />
    <add key="admissionType" value="1" />
    <add key="SchoolName" value="The Elegant Schools" />
    <add key="DummyMobile" value="0300" />
    <add key="studentAddress" value="main campus" />
    <add key="fatherCnic" value="99999-9999999-9" />
    
    <add key="staffAddress" value="Lahore Ring Road" />
    <add key="staffFatherCnic" value="99999-9999999-9" />
    <add key="staffFatherName" value="Anmol Engineering" />
    <add key="staffDummyMobile" value="032199999999" />
    <add key="staffCNIC" value="032199999999" />
  
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v14.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>