@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title sc_panel_header">
                <label class="nav navbar-left control-label sc_panel_label" align="left">Change Password</label>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        @*<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>*@
                    </li>
                    <li>
                        @*<a class="close-link"><i class="fa fa-close"></i></a>*@
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">*@
                    <fieldset>
                     
                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 11px;" align="right" for="first-name">
                                Current Password <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div>
                                    <input type="password" name="CurrentPassword" class="form-control" id="txtCurrentPassword" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 11px;" align="right" for="first-name">
                                New Password <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div>
                                    <input type="password" name="NewPassword" class="form-control" id="txtPassword" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 11px;" align="right" for="first-name">
                                Confirm Password <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div>
                                    <input type="password" name="ConfirmPassword" class="form-control" id="txtConfirmPassword" />
                                    <input type="hidden" name="UserId" value="@ViewData["UserId"]" />
                                </div>
                            </div>
                        </div>



                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="nav navbar-right">
                                    <input type="submit" value="Save" name="SaveChangePassword" class="btn btn-squar" onclick="return VerifyPassword();"
                                           style=@((ViewData["Operation"] != null && Convert.ToInt32(ViewData["Operation"]) > 0) ? "display:none;" : "display:block;") />
                                    </div>
                            </div>
                        </div>
                    </fieldset>
                    @*</form>*@
                }
            </div>
        </div>
    </div>
</div>
 



<script>

    function populateErrors()
    {
        @if(ViewData["Error"] != null)
      {
          if ((int)@ViewData["Error"] == 2)
          {
              <text> showNotification('Password is Changed succesfully.', 'Success', 'Success') </text>
          }
      else if ((int)@ViewData["Error"] == 11)
          {
              <text> showNotification('Unable to change password.', 'Error', 'Error') </text>
          }
        else if ((int)@ViewData["Error"] == 20)
          {
              <text> showNotification('Current password is invalid.', 'Error', 'Error') </text>
          }

      }
    }

    window.onload = function (e) {
        populateErrors();
    }

    function VerifyPassword()
    {
        var currentPassword = $("#txtCurrentPassword").val();
        var password = $("#txtPassword").val();
        var confirmPassword = $("#txtConfirmPassword").val();

        if (currentPassword == '')
        {
            showNotification('Please enter current password.', 'Error', 'Error')
            return false;
        }

        if (password == '')
        {
            showNotification('Please enter new password.', 'Error', 'Error')
            return false;
        }

        if (confirmPassword == '')
        {
            showNotification('Please enter confirm password.', 'Error', 'Error')
            return false;
        }


        if (password != confirmPassword) {
            showNotification('Password is not matched.', 'Error', 'Error')
            return false;
        }
    }

</script>